In [2]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [25]:

data = pd.read_csv('./data/data.csv')
data.sort_values(by=['season'])

data = data[-380:]
data = data[['home_team_name', 'away_team_name', 'home_team_goal', 'away_team_goal']]
data['diff'] = data.apply(lambda row: np.sign(row['home_team_goal'] - row['away_team_goal']), axis=1)

test = data[-50:]
training = data[:330]
training.mean()

home_team_goal    1.636364
away_team_goal    1.187879
diff              0.224242
dtype: float64

In [26]:
draw = training.query('diff==0')
draw.shape[0] / training.shape[0]

0.22424242424242424

In [27]:
win = training.query('diff==1')
win.shape[0] / training.shape[0]

0.5

In [28]:
lost = training.query('diff==-1')
lost.shape[0] / training.shape[0]

0.27575757575757576

In [29]:
training = training.groupby("home_team_name")
training.mean()

                      home_team_goal  away_team_goal      diff
home_team_name
Arsenal                     2.066667        1.000000  0.533333
Bournemouth                 1.823529        1.529412  0.117647
Burnley                     1.352941        0.941176  0.294118
Chelsea                     2.687500        0.812500  0.750000
Crystal Palace              1.250000        1.375000 -0.250000
Everton                     2.411765        0.764706  0.647059
Hull City                   1.588235        1.529412  0.176471
Leicester City              1.625000        1.125000  0.312500
Liverpool                   2.470588        1.058824  0.529412
Manchester City             1.800000        1.000000  0.466667
Manchester United           1.352941        0.647059  0.352941
Middlesbrough               0.812500        1.187500 -0.312500
Southampton                 1.133333        1.200000  0.066667
Stoke City                  1.352941        1.176471  0.117647
Sunderland                  0.941176        1.823529 -0.352941
Swansea City                1.411765        1.941176 -0.117647
Tottenham Hotspur           2.529412        0.470588  0.882353
Watford                     1.470588        1.352941  0.176471
West Bromwich Albion        1.588235        1.176471  0.176471
West Ham United             1.058824        1.588235 -0.058824